#chat-container {
	position: relative;
	width: 335px;
	box-shadow: 0 0 5px var(--shadow-dark);
}

#chat-container .nav-item.nav-link {
	font-size: 0.85rem;
}

#chat-container .nav-item.nav-link {
	color: var(--bg-main);
	background-color: var(--txt-main);
}

#chat-container .nav-item.nav-link.active {
	color: var(--txt-main);
	background-color: var(--bg-main);
}
