#chat-container {
	box-shadow: 0 0 5px black;
	position: relative;
	width: 325px;
}

#chat-container .nav-item.nav-link {
	border: none;
	outline: none;
	font-size: 0.85rem;
	color: var(--accent-color);
}

#chat-container .nav-item.nav-link.active {
	color: var(--bg-main-light);
	background-color: var(--txt-main);
}
