.typefast-inner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.type-this, .type-here {
	padding: 10px 15px;
}

.type-this {
	text-align: center;
	color: var(--txt-main);
	background: var(--bg-main-dark);
}

.type-this .word {
	font-size: 1.6rem;
}

.type-here {
	font-size: 1.4rem;
	text-align: center;
	color: var(--txt-main);
	background: var(--bg-main-light) !important;
	width: 325px;
}

/* ==================================================== */

.word {
	border-radius: 3px;
	transition: background-color 0.1s linear;
}

.current-word {
	background-color: var(--bg-main-light);
}

.correct-word {
	color: var(--correct);
}

.incorrect-word {
	color: var(--incorrect);
}