#typefast-container > div {
	margin-bottom: var(--game-spacing);
}

#typefast-container .group-col > div {
	margin-bottom: var(--game-spacing);
}

.type-this,
.type-here {
	text-align: center;
}

.type-this {
	--word-size: 1.8rem;

	font-size: var(--word-size);
	line-height: calc(var(--word-size) * 1.5);
	max-height: calc((var(--word-size) * 1.5) * 2);
	overflow: hidden;

	max-width: 75%;
	user-select: none;
	padding: 0 0.25rem;
}

.type-here {
	width: 335px;

	font-size: 1.675rem;
	color: var(--txt-main);
	background-color: var(--bg-main-light);
	padding: 0.5rem 1rem;
}

.type-here:disabled {
	color: var(--txt-main-dark);
	background-color: var(--bg-main);
}

/* ==================================================== */

@media only screen and (max-width: 350px) {
	.type-here {
		width: 300px;
	}
}

@media only screen and (max-width: 325px) {
	.type-here {
		width: 285px;
	}
}
