#typefast-inner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#typefast-inner-container > div {
	margin-bottom: var(--game-spacing);
}

#typefast-inner-container .group-col > div {
	margin-bottom: var(--game-spacing);
}

.type-this,
.type-here {
	padding: 0.5rem 1rem;
}

.type-this {
	user-select: none;
	text-align: center;
	color: var(--txt-main);
	background: var(--bg-main-dark);
}

.type-this .word {
	font-size: 1.75rem;
}

.type-here {
	font-size: 1.5rem;
	text-align: center;
	color: var(--txt-main);
	background: var(--bg-main-light) !important;
	width: 325px;
}
