.messages {
	overflow: auto;
	max-height: calc(100% - 50px);
	padding: 0.375rem;
}

/* ========================================== */

.message-container {
	--message-radius: 0.75rem;

	display: table;
	max-width: 80%;
	word-break: break-all;
	margin-bottom: 0.25rem;
}

.message-sender {
	font-size: 0.75rem;
}

.message-text {
	font-size: 0.875rem;
	padding: 0.25rem 0.5rem;

	color: var(--bg-main-light);
	background-color: var(--txt-main-dark);
	border-radius: var(--message-radius);
	border-top-left-radius: 0;
}

.message-container-right {
	margin-left: auto;
}

.message-container-right .message-sender {
	display: none;
}

.message-container-right .message-text {
	color: var(--txt-main-light);
	background: var(--accent-color);
	border-radius: var(--message-radius);
	border-top-right-radius: 0;
}
