#options {
	position: fixed;
	top: var(--main-spacing);
	left: var(--main-spacing);
}

#options-toggle:after {
	content: none;
}

#options .option {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.option .theme {
	font-size: 1.1rem;
	color: var(--bg-main-dark);
}

.option .checked {
	color: var(--correct);
}

/* ========================================== */

.option-disabled {
	cursor: no-drop !important;
}
