#dropdown-options {
	background: none;
	border: none;
	outline: none;
}

#dropdown-options:after {
	content: none;
}

.fa-cog {
	color: var(--txt-main);
	font-size: 1.65rem;
	cursor: pointer;
	
	transition: color 250ms;
}

.fa-cog:hover {
	color: var(--txt-main-dark);
}

#options .dropdown-item {
	font-weight: bold;
}

.fa-exclamation-triangle {
	color: var(--incorrect);
	margin-right: 12px;
	font-size: 1.4rem; 
}