.timer-with-reset {
	font-family: "Roboto Mono", monospace;
}

.timer-reset-separator {
	--reset-spacing: 1rem;

	line-height: 1.25;
	border-left: 2px solid var(--txt-main-dark);
	padding-left: calc(var(--timer-spacing) + var(--reset-spacing));
	margin-left: var(--reset-spacing);
}

.timer-reset {
	font-size: 1.5rem;
	color: var(--txt-main-dark);
	padding: 0.125rem;
}

.timer-reset:hover {
	-webkit-animation: fa-spin 650ms ease-out;
	-moz-animation: fa-spin 650ms ease-out;
	-o-animation: fa-spin 650ms ease-out;
	animation: fa-spin 650ms ease-out;
}