.users-total,
.user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bg-main);
}

/* ========================================== */

.users {
	overflow: auto;
	max-height: 100%;
}

.users-total {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;

	text-transform: uppercase;
	font-size: 0.95rem;
	color: var(--correct);
	border-bottom: 2px solid var(--bg-main-dark);
	padding: 0.25rem;
}

.users-total .total {
	background-color: var(--bg-main-light);
	padding: 0 0.25rem;
	border-radius: 5px;	
}

/* ========================================== */

.user {
	padding: 0.25rem 0.5rem;
}

.user:nth-child(odd) {
	background-color: var(--bg-main-light);
}

.username {
	font-size: 0.85rem;
}

.user-online {
	font-size: 0.45rem;
	color: var(--correct);
}

.user:hover {
	background-color: var(--bg-main-dark);
}
