:root {
	--txt-main-light: #c5c4c4;
	--txt-main: #afadad;
	--txt-main-dark: #9f9f9f;

	--bg-main-light: #363a3f;
	--bg-main: #2c2f35;
	--bg-main-dark: #1d1e21;

	--accent-color: #4a4acc;
	--accent-color-dark: #32329f;
	--accent-color-gradient: linear-gradient(to left, #4a4acc, #088880);

	--shadow-light: rgb(125, 125, 125);
	--shadow-dark: rgb(10, 10, 10);

	--correct: rgb(15, 175, 15);
	--incorrect: rgb(255, 80, 70);
}

/* ==================================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body,
input, textarea {
	font-family: "Poppins", sans-serif;
}

html {
	font-size: 16px;
}

body {
	height: 100vh;
	font-size: 1rem;

	color: var(--txt-main);
	background-color: var(--bg-main-dark);
}

/* ==================================================== */

#root {
	height: 100%;
}

/* ==================================================== */

.strip-css-btn,
.strip-css-txtarea {
	background: none;
	border: none;
	outline: none;
}
.strip-css-input {
	background-color: none;
	border: none;
	outline: none;
}

.strip-css-btn:focus,
.strip-css-input:focus,
.strip-css-txtarea:focus {
	outline: none;
}

.page-top {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
}

.page-overlay {
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.15);
	z-index: 999;

	display: flex;
	justify-content: center;
	align-items: center;
}

.group-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.group-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.clickable-icon {
	font-size: 1.5rem;
	color: var(--txt-main-dark);
	cursor: pointer;

	transition: color 250ms;
}
.clickable-icon:hover {
	color: var(--txt-main-light);
}

/* Hide Scrollbar ===================================== */
.scrollbar-hidden {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}
/* ===================================== Hide Scrollbar */
