:root {
	--txt-main-light: #c5c4c4;
	--txt-main: #afadad;
	--txt-main-dark: #9f9f9f;

	--bg-main-light: #363a3f;
	--bg-main: #2c2f35;
	--bg-main-dark: #1d1e21;

	--accent-color: #4a4acc;
	--accent-color-gradient: linear-gradient(
		to left,
		#4a4acc, #088880
	);

	--shadow-light:  rgb(200, 200, 200);
	--shadow-dark:  rgb(10, 10, 10);

	--correct: rgb(15, 185, 15);
	--incorrect: rgb(185, 15, 15);
}

/* ==================================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
input,
textarea {
	font-family: "Poppins", sans-serif;
}

body {
	font-size: 62.5%;
	height: 100vh;
	background-color: var(--bg-main);
	color: var(--txt-main);
}

/* ==================================================== */

#root {
	height: 100%;
}

/* Hide Scrollbar ====================================== */
.scrollbar-hidden {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}
/* ====================================== Hide Scrollbar */