#intro-outer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#intro-inner-container {
	width: 395px;
	background-color: var(--bg-main-light);
	box-shadow: 0 0 8px var(--shadow-dark);
	padding: 3.75rem 2.5rem;
}

#intro-inner-container .nav.nav-tabs {
	margin: 1.5rem 2rem;
}

#intro-inner-container .nav-item.nav-link {
	font-size: 1rem;
}

/* ==================================================== */

@media only screen and (max-width: 450px) {
	.join-inner-container {
		width: 85%;
		padding: 2.75rem 1.5rem;
	}
}